/* Estilos generales */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #7ea0af;
    margin: 1%;
    padding: 0;
    
}

header {
    background-color: #817c7c;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 10px;
    background-color: #f8f4f4;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    min-height: 5%;
    align-items: center
         
}

nav ul li {
    display: inline;
    margin-right: 20px;
                  
}

nav ul li a {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    color: darkblue;
                 
}

nav ul li a:hover {
    font-size: 20px; /* Tamaño de fuente más grande cuando se pasa el mouse */
    transition: 0.3s;
    color: #070707;
    text-decoration: none;
}

/* Estilos para autos destacados */
.car { 
    flex-grow: 1; 
    justify-content: center;
    display: flex;
    gap: 2px;
    flex-direction: column;
    float: right;
    align-items: center;
    text-align: center;
       
    }
.car img {
    width: 50%;
}

.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: none;
}

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: rgb(235, 238, 243);
    margin: 0 auto; /* Centra horizontalmente la tabla en el contenedor madre */
}

td {
    width: 50%; /* Establece un ancho igual para todas las celdas */
}

.car {
    text-align: center;
    border: 1px solid #ddd; /* Agrega un borde para separar los elementos */
    padding: 10px;
    margin: 10px;
    
}

.pie {
    height:10%;
    background-color:#D3D1C1;
    clear:both;
    min-height: 10%;
    text-align: center;
    align-items: center;
    padding: 15px;
    
   
}
aside {
    background-color: #D3D1C1;
    margin: 5px;
    border: 2px solid rgb(248, 245, 245);
    padding: 2%;
    
}
/* Estilos para iconos */
.icon {
    width: 20px;
    cursor: pointer;
}

.icon2 {
    width: 50px;
    margin-left: auto;
    
}

.icon3 {
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon3:hover {
    transform: scale(1.5);
  }
/* Estilos para formulario de contacto */
#contact-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 400px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input[type="text"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos para la página responsiva */
@media screen and (max-width: 768px) {
    body {
        background-color: burlywood;
    }
    .pie {
        background-color: rgb(216, 133, 25);
    }
}
 
@media screen and (max-width: 468px) {
    body {
        background-color: rgb(110, 116, 190);
    }
    .pie {
        background-color: rgb(33, 85, 228);
    }
}

/* Estilos para pagina de servicios */
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
    
}

.service {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    
}

.service h2 {
    font-size: 24px;
}

.service p {
    font-size: 16px;
}

/* Estilos para el campo de entrada de monto */
.monto-input {
    width: 45%; /* Ajusta el ancho del campo de entrada al 50% */
    padding: 10px;
    text-align: center; /* Centra el texto en el campo de entrada */
}

/* Estilos para pagina de autos */
.autoCarrusel {
    width: 150px;
    height: 120px;
    transition: 1s;
}

.autoCarrusel:hover {
    border: 2px solid #000; /* Agrega un borde de 2px de ancho y color negro al hacer hover */
    margin: 3px;
    width: 300px;
    height: 240px;
}
.autoCarrusel {
    border-radius: 10%;
    cursor: pointer;
    
}

.principalAutos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-content: center; /* Centra las columnas verticalmente */
    padding: 20px;
  }
  
  .carList {
    display: grid;
    grid-gap: 20px;
    width: 100%;
  }
  
  .nuestrosVehiculos {
    grid-column: 1; /* Alinea el contenedor a la columna 1 */
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    grid-gap: 20px;
  }
  
  .listaAutos {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: center; /* Centra las columnas verticalmente */
    width: 100%;
  }
.auto {
    background-color: #f0efe6;
    text-align: center;
    width: 100%;
}  